*{
    margin: 0; 
    padding: 0; 
}

body{
    background-color: #F2F2F2;
    font-family: "Arial";
}
.container{
    width: 1272px; 
    margin: 0 auto; 
}

/* header */ 
.main-header{
    width: 100%; 
    background-color: #445161;
    padding: 25px 50px 19px 50px; 
    color: #ffffff; 
    box-sizing: border-box;
}

.main-header-wrap{
    float: left; 
    width: 650px; 
}

.main-header-wrap h1{
    font-size: 60px; 
    margin-bottom: 25px; 
}

.page-header-list{
    list-style-type: none;
    font-size: 20px; 
    padding: 0; 
}

.page-header-list li{
    margin-bottom: 10px; 
    position: relative; 
    padding: 0 0 0 20px; 
    box-sizing: border-box;
}

.page-header-list li::before{
    content: ""; 
    display: block; 
    width: 16px; 
    height: 13px; 
    box-sizing: border-box;
    position: absolute; 
    top: 5px; 
    left: 0; 
    background-image: url('images/Vector.svg');
    background-size: contain; 
}

.main-header img {
    height: 217px; 
    width: 472px; 
    padding-right: 50px; 
}

/* about product */ 
.about-product{
    width: 100%; 
    padding-top: 50px; 
    margin-left: 50px; 
    font-family: "Arial";
}

.about-product-wrap{
    float: left; 
    width: 650px; 
    margin-right: 50px; 
}

.about-product-wrap h1{
    font-size: 30px; 
    margin-bottom: 25px; 
    font-family: inherit;
}

.about-product-wrap p{
    line-height: 24px;
    margin-bottom: 11px; 
}

