*{
    margin: 0; 
    padding: 0; 
}

body{
    background-color: #F2F2F2;
    font-family: "Arial";
}
.container{
    width: 1272px; 
    margin: 0 auto; 
}

/* header */ 
.main-header{
    width: 100%; 
    background-color: #445161;
    padding: 25px 50px 19px 50px; 
    color: #ffffff; 
    box-sizing: border-box;
}

.main-header-wrap{
    float: left; 
    width: 650px; 
}

.main-header-wrap h1{
    font-size: 60px; 
    margin-bottom: 25px; 
}

.page-header-list{
    list-style-type: none;
    font-size: 20px; 
    padding: 0; 
}

.page-header-list li{
    margin-bottom: 10px; 
    position: relative; 
    padding: 0 0 0 20px; 
    box-sizing: border-box;
}

.page-header-list li::before{
    content: ""; 
    display: block; 
    width: 16px; 
    height: 13px; 
    box-sizing: border-box;
    position: absolute; 
    top: 5px; 
    left: 0; 
    background-image: url('images/Vector.svg');
    background-size: contain; 
}

.main-header img {
    height: 217px; 
    width: 472px; 
    padding-right: 50px; 
}

/* about product */ 
.about-product{
    padding-top: 50px; 
     padding-left: 50px; 
    padding-bottom: 50px; 
    font-family: "Arial";
    background-color: #FFF;
     
}

.about-product-wrap{
    float: left; 
    width: 650px; 
     
}

.about-product-wrap h1{
    font-size: 30px; 
    margin-bottom: 25px; 
    font-family: inherit;
}

.about-product-wrap p{
    line-height: 24px;
    margin-bottom: 11px; 
}

 .about-product-img{
     margin-left:30px; 
 }



/* dignity */ 
.dignity{
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items:center; 
    box-sizing: border-box;
    width: 100%; 
    background-color: #F5F5F5;;
    
}

.dignity-title{
 margin: 30px auto; 
}

.dignity-list{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 20px; 
    width: 90%; 
}

.dignity-item{
    width: 50%; 
    margin-bottom: 20px; 
}

/* Не срабатывает */ 
.dignity-list summary::-webkit-details-marker {
  display: none
}

/* TODO Дописать маркеры */ 

/* Screenshots */ 
.screenshots{
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: #fff;
}

.screenshots-title{
    margin: 25px auto; 
}

.screenshots-figures{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    width: 90%; 
    margin-bottom: 10px; 
}

.screenshots-figures figure{
    display: flex; 
    flex-direction: row;
    flex-basis: 50%; 
    margin-bottom: 20px; 
}

.screenshots-figures figure img{
    margin-right: 10px; 
}

/* Reviews */ 
.reviews{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.reviews-title{
    margin: 25px auto; 
}
.reviews-articles{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    width: 90%; 
}

.reviews-articles article{
    display: flex; 
    flex-basis: 50%; 
    margin-bottom: 20px; 
}

.reviews-articles article img{
    margin-right: 10px; 
    border-radius: 50%; 
    width: 66px; 
    height: 66px; 
}

.reviews .quote{
    background-color: #EBEBEB;
    padding: 10px; 
    border-radius: 7px; 
    margin-right: 5px; 
}

.reviews .quote > p{
    font-size: 18px; 
}

/* price */ 
.section-tarif{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    flex-direction: column;
    width: 100%; 
    padding: 30px 0 30px 0; 
    background-color: #fff; 
}

.buy-it{
    margin-top: 30px;    
    text-align: center;
}

.tarif h3{
        font-size: 24px; 
        color: #fff; 
        text-align: center; 
        padding: 10px; 
}
.tarifs{
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: flex-end; 
    margin-right: 20px; 
}

.tarif{
    display: flex; 
    flex-direction: column;
    width: 300px; 
    border-radius: 5px;
    background-color: #445162;
    border: 1px solid #445162;
}

.tarif-ol{
    /* list-style-type: none;  */
    list-style-position:inside; 
    padding: 20px; 
    color: #fff; 
    font-size: 14px; 
    font-family: "Arial";
    font-style: normal; 
    line-height: 24px; 
}

.price{
    
    background-color: #fff;
    width: 100%; 
    font-size: 40px; 
    text-align: center; 
     padding: 10px 0 10px 0; 
}

.tarifs button{
    width: 262px; 
    height: 43px; 
    background-color: #fff; 
    border-radius: 5px; 
    margin-top: 10px; 
    font-size: 18px; 
    width: 100%; 
}